.foodItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.foodItemDetails {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    font-size: 1.3em;
    
}
.foodItemImage, .foodItemName, .foodItemPrice {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
}
.foodItemImage img {
    border-radius: 50%;
}
.quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;
}
.quantityWidget {
    display: flex;
    min-height: 30px;
}
.reduceQuantity, .count, .increaseQuantity {
    border: 1px solid rgba(0,0,0,.125);
    padding:2px;
    width: 30px;
    text-align: center;
}
.reduceQuantity {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.increaseQuantity {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.count {
    border-left: none;
    border-right: none;
}

.card {
    margin:20px 0;
}

.foodItemCardBody {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
