/* .form-group > .form-control {
    width: 50%;
} */

.form-group.col {
    padding-right: 0;
    padding-left: 0;
    padding-top: 20px;
    flex-grow: unset;
}


.registrationFormContainer {
    max-width: 100%;
    min-height: 100%;
    background: url(./img/loginBackground.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.registrationForm {
    width: 25%;
    min-height: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .registrationForm {
        width: 50%;
    }
    .form-label {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 375px) {
    .registrationForm {
        width: 100%;
        
    }
    
}